body {
    background-color: lightgray;
    font-family: "PT Sans", "Arial", Helvetica, sans-serif;
    font-size: 30px;
    color: dodgerblue;
}

#quote {
    height: 100%;
    
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0s;
    animation-duration: 0.7s;
    animation-delay: 0s;
}
.btn.btn-primary {
    background-color: dodgerblue;
}

.row.button {
    padding-bottom: 15px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.quote-pre {
     font-size: 84px;
            /*content: "\201c ";*/
             color: dodgerblue;
             line-height: 0px;
             /*top: 10px;*/
             margin-top: 15px;
             margin-bottom: -15px;
             margin-left: -2%;
}

.quote-author {
    font-size: 16px;
    font-style: italic;
    padding-top: 5px;
    padding-right: 30px;
}

.quote-post {
     font-size: 84px;
            /*content: "\201c ";*/
             color: dodgerblue;
             line-height: 0px;
             /*top: 10px;*/
             margin-top: -30px;
             margin-bottom: 20px;
             margin-left: 95%;
}

.fa {
    font-size: 18px;
}

#tweet-quote, #newQuote {
    font-size: 16px;
}

.cp {
    font-size:12px;
}
@media only screen and (min-width:768px){

.quote-pre {
     font-size: 84px;
             /*top: 10px;*/
             margin-top: 15px;
             margin-bottom: -15px;
             margin-left: -4%;
}


.quote-post {
     font-size: 84px;
             /*top: 10px;*/
             margin-top: -33px;
             margin-bottom: 10px;
             margin-left: 100%;
}

}