body {
    background-color: lightgray;
    font-family: "PT Sans", "Arial", Helvetica, sans-serif;
    font-size: 30px;
    color: dodgerblue;
}

#quote {
    height: 100%;
}
.btn.btn-primary {
    background-color: dodgerblue;
}

.quote-pre {
     font-size: 84px;
            /*content: "\201c ";*/
             color: dodgerblue;
             line-height: 0px;
             /*top: 10px;*/
             margin-top: 15px;
             margin-bottom: -15px;
             margin-left: -2%;
}

.quote-post {
     font-size: 84px;
            /*content: "\201c ";*/
             color: dodgerblue;
             line-height: 0px;
             /*top: 10px;*/
             margin-top: -33px;
             margin-bottom: 20px;
             margin-left: 95%;
}

@media only screen and (min-width:768px){

.quote-pre {
     font-size: 84px;
             /*top: 10px;*/
             margin-top: 15px;
             margin-bottom: -15px;
             margin-left: -4%;
}


.quote-post {
     font-size: 84px;
             /*top: 10px;*/
             margin-top: -33px;
             margin-bottom: 10px;
             margin-left: 100%;
}

}